.container {
    margin: auto;
    padding: 1rem;
    width: 70%;
    display: flex;
    justify-content: space-around ;
}

.container span {
    border: solid;
    border-width: 0.5px;
    padding: 0.5rem
}

