.style {
  margin: 3%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  resize: none;
  font-size: 2rem;
  border-style: solid;
  width: 50%;
  height: 2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

