.style {
    width: 70vw;
    max-width: 75%;
    margin: auto;
    margin-top: 1rem;
    max-height: 30vh ;
    font-size: 1.5rem;
    border-style: solid;
    padding: 1rem;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:flex-start;
    overflow-y: auto;
    overflow: auto;
    background-color: aliceblue;
    color:lightblue;

}
