.style {
    width: 70vw;
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
    max-height: 50vh ;
    font-size: 1.5rem;
    border-style: solid;
    padding: 1rem;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:flex-start;
    overflow-y: auto;

}